.sgap-row{
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.text_box, .number_box{
    border: solid 1px #777;
    background-color: black;
    color: white;
    outline: none;
    padding-left: 0.5em;
}

.text_box:focus, .number_box:focus{
    border-color: dodgerblue;
}

.number_box{
    width: 6em;
    -moz-appearance: textfield;
}

.number_box::-webkit-outer-spin-button,
.number_box::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}