@page "/edit_building"
@using ClientBlazor_v1.Components
@using ClientBlazor_v1.Models
@using ClientBlazor_v1.Services
@using ClientBlazor_v1.ViewModels

<div class="m-4 d-flex flex-column align-items-center" style="gap: 1em;">
    <h3>@(BuildingID is null ? "Créer" : "Modifier") un bâtiment</h3>

    @if (VM.IsLoaded)
    {
        <EditForm Model="@VM.Building" OnValidSubmit="Click_SaveChanges">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="d-flex flex-column align-items-center" style="gap: 1.5em">
                <div class="shadow p-3 input-section">
                    <div class="input-box">
                        <label for="building-name">Nom</label>
                        <InputText id="building-name" @bind-Value=VM.Building.Name />
                    </div>
                </div>

                <div class="d-flex" style="gap: 1em;">
                    <button type="submit" class="btn btn-success">@(BuildingID is null ? "Créer" : "Modifier")</button>
                    @if(BuildingID is not null)
                    {
                        <button type="button" class="btn btn-danger" @onclick=Click_DeleteBuilding>Supprimer</button>
                    }
                </div>
            </div>
        </EditForm>
    }
</div>

<Modal @ref="_deleteBuildingModal">
    <Title>Supprimer le bâtiment ?</Title>
    <Content>
        <p>
            Êtes-vous sûr de vouloir supprimer le bâtiment ?
            <br />
            - <b>@VM.Building.Name</b>
        </p>
    </Content>
    <Buttons>
        <button class="btn btn-danger" @onclick="Click_DeleteBuildingConfirmed">Supprimer</button>
        <button class="btn btn-secondary" @onclick="_deleteBuildingModal.Close">Annuler</button>
    </Buttons>
</Modal>

@inject IService<Building> buildingService
@inject NavigationManager NavigationManager
@code {
    public BuildingCreatorVM VM { get; set; }

    [SupplyParameterFromQuery]
    public int? BuildingID { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        VM = new(buildingService);
        await VM.Load(BuildingID);
    }

    public async Task Click_SaveChanges()
    {
        await VM.SaveBuilding();
        ExitPage();
    }

    // Delete building modal
    private Modal _deleteBuildingModal;
    public void Click_DeleteBuilding()
    {
        _deleteBuildingModal.Open();
    }
    public async Task Click_DeleteBuildingConfirmed()
    {
        _deleteBuildingModal.Close();
        await VM.Delete();
        ExitPage();
    }

    private void ExitPage()
    {
        NavigationManager.NavigateTo("/");
    }
}