@page "/renderer"
@using ClientBlazor_v1.Components

<PageTitle>Salle 3D</PageTitle>

<div id="renderer_container">

    <canvas id="renderer" touch-action="none"></canvas>

    <div class="renderer_ui align-items-start">
        <FWindow CloseButton="false">
            <Header>
                <span>Salle D360</span>
            </Header>
            <Content>
                <FSubWindow>
                    <Header><span>Actions</span></Header>
                    <Content>
                        <button class="button_add">Ajouter un capteur</button>
                    </Content>
                </FSubWindow>
            </Content>
        </FWindow>
    </div>

    <div class="renderer_ui align-items-end">

    </div>
</div>

@inject IJSRuntime JS
@code{

}