#renderer_container {
    position: relative;
    width: 100%;
    height: 100%;
}

    #renderer_container > #renderer {
        position: absolute;
        width: 100%;
        height: 100%;
        outline: none;
        display: block;
    }

.renderer_ui {
    position: absolute;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 2em;

    margin: 2em;
    max-height: calc(100% - 4em);
}

.renderer_navbar{
    position: absolute;
    bottom: 1em;
    left: 50%;
    translate: -50% 0;

    display: flex;
    align-items: center;
    gap: 1em;
}

.renderer_navbar_btn{
    width: 2em;
    height: 2em;
    padding: 0.2em;
    border-radius: 50%;
    background: #0008;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
}

.renderer_navbar_btn:hover{
    background: #8888;
}

.renderer_navbar_btn:active{
    background: white;
}

.renderer_navbar_btn > *{
    max-width: 100%;
    max-height: 100%;
}

::deep .fwindow {
    background-color: #0008;
    color: white;
    font-size: 0.95em;
}

::deep .fwindow_header {
    gap: 0.5em;
    padding: 3px 5px;
    min-width: 15em;
}

    ::deep .fwindow_header::before, ::deep .fwindow_header::after {
        content: '';
        background-color: transparent;
        height: 1px;
        flex-grow: 1;
    }

::deep .fwindow.collapsed > .fwindow_header::before,
::deep .fwindow.collapsed > .fwindow_header::after {
    background-color: white;
}

::deep .fwindow_header_btns {
    order: 10;
}

::deep .fwindow_header:not(:hover) > .fwindow_header_btns {
    display: none !important;
}

::deep .fwindow_content {
    padding: 5px;
    min-height: 3em;
    font-size: 0.95em;
}

::deep .fsubwindow {
    background-color: #0004;
}

::deep .fwindow_header, ::deep .fsubwindow_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

::deep .fsubwindow_header {
    padding: 5px;
}

    ::deep .fsubwindow_header::after {
        content: '▲';
        padding: 0 0.2em;
    }

::deep .fsubwindow.collapsed > .fsubwindow_header::after {
    content: '▼';
}

::deep .fwindow_content, ::deep .fsubwindow_content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

::deep .fsubwindow_content {
    padding: 0.5em 0.5em 0.5em 1em;
}

::deep .fwindow_content, ::deep .fsubwindow_content {
    border-top: solid 1px #777;
}

::deep .collapse_box.collapsed > .collapse_box_content {
    display: none !important;
}

::deep .fwindow button {
    padding: 0.2em;
    background: dodgerblue;
    color: white;
    outline: none;
    border: none;
}

::deep .button_add:not(:active) {
    background: green !important;
}

::deep .button_danger:not(:active) {
    background: red !important;
}

::deep .fwindow button:hover {
    filter: brightness(1.2);
}

::deep .fwindow button:active {
    background: white !important;
    color: black !important;
}

.objectLink{
    max-width: 15em;
}

.objectLink:hover{
    cursor: pointer;
    text-decoration: underline;
}

.objectLink.isVisible{
    color: dodgerblue !important;
}