﻿@using ClientBlazor_v1.Components.Utils
@using ClientBlazor_v1.ViewModels
@using System.ComponentModel
@using ClientBlazor_v1.ViewModels.JS
@using ClientBlazor_v1.ViewModels.JS.RoomObject

<FWindow CloseButton="true" OnClose=VM.Close>
    <Header>
        <span>@VM.Door.GetName()</span>
    </Header>
    <Content>
        <FSubWindow>
            <Header>Informations</Header>
            <Content>
                <span>UUID: @VM.RoomObject.Id</span>
            </Content>
        </FSubWindow>
        <TransformEditor VM="VM"></TransformEditor>
    </Content>
</FWindow>

@inherits UIUpdatableComponent
@code {
    [Parameter]
    public DoorVM VM { get; set; }
    public override IUpdateUI Updatable => VM;
}