﻿@using ClientBlazor_v1.Components.Utils
@using ClientBlazor_v1.ViewModels
@using System.ComponentModel
@using ClientBlazor_v1.ViewModels.JS
@using ClientBlazor_v1.ViewModels.JS.RoomObjects

<FWindow CloseButton="true" OnClose=VM.Close>
    <Header>
        <span>@VM.Object.GetFullName()</span>
    </Header>
    <Content>
        <FSubWindow>
            <Header>Informations</Header>
            <Content>
                <span>ID: @VM.Object.Id</span>
                <div class="input-box">
                    <label>Nom personnalisé</label>
                    <input type="text" class="text_box" @bind-value="VM.Object.CustomName"/>
                </div>
            </Content>
        </FSubWindow>
        <TransformEditor VM="VM"></TransformEditor>
    </Content>
</FWindow>

@inherits UIUpdatableComponent
@code {
    [Parameter]
    public RoomObjectVM VM { get; set; }
    public override IUpdateUI Updatable => VM;
}