﻿@using ClientBlazor_v1.Components.Utils
@using ClientBlazor_v1.ViewModels
@using System.ComponentModel
@using ClientBlazor_v1.ViewModels.JS
@using ClientBlazor_v1.ViewModels.JS.RoomObject

<FWindow CloseButton="true" OnClose=VM.Close>
    <Header>
        <span>@VM.Sensor.GetName()</span>
    </Header>
    <Content>
        <FSubWindow>
            <Header>Informations</Header>
            <Content>
                <span>UUID: @VM.RoomObject.GUID</span>
            </Content>
        </FSubWindow>
        <TransformEditor VM="VM"></TransformEditor>
    </Content>
</FWindow>

@inherits UIUpdatableComponent
@code {
    [Parameter]
    public SensorVM VM { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    public override IUpdateUI Updatable => VM;
}