@using ClientBlazor_v1.Components.Utils
@using ClientBlazor_v1.Interop
@using System.ComponentModel

<FWindow CloseButton="true" OnClose=OnClose>
    <Header>
        <span>@CapteurInterop.Name</span>
    </Header>
    <Content>
        <FSubWindow>
            <Header><span>Informations</span></Header>
            <Content>
                <span><b>Type:</b> ZSensor-V5.1</span>
            </Content>
        </FSubWindow>
        <TransformEdit TransformInterop="CapteurInterop"></TransformEdit>
    </Content>
</FWindow>

@inherits NotifiedComponent
@code {
    [Parameter]
    public CapteurInterop CapteurInterop { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    protected override INotifyPropertyChanged Notifier => CapteurInterop;
}
