@using ClientBlazor_v1.Components.Utils
@using ClientBlazor_v1.Interop
@using System.ComponentModel

<FWindow CloseButton="true" OnClose=OnClose>
    <Header>
        <span>@PorteInterop.Name</span>
    </Header>
    <Content>
        <TransformEdit TransformInterop="PorteInterop"></TransformEdit>
    </Content>
</FWindow>

@inherits NotifiedComponent
@code {
    [Parameter]
    public PorteInterop PorteInterop { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    protected override INotifyPropertyChanged Notifier => PorteInterop;
}
