@using System.ComponentModel

<FWindow CloseButton="true">
    <Header>
        <span></span>
    </Header>
    <Content>
        <FSubWindow>
            <Header><span>Informations</span></Header>
            <Content>
                <span><b>Type:</b> ZSensor-V5.1</span>
            </Content>
        </FSubWindow>
        <TransformComponent></TransformComponent>
    </Content>
</FWindow>

@code {
    
}
