@using ClientBlazor_v1.Components.Utils
@using ClientBlazor_v1.ViewModels
@using System.ComponentModel
@using ClientBlazor_v1.ViewModels

<FWindow CloseButton="true" OnClose=OnClose>
    <Header>
        <span>@SensorVM.Sensor.Name</span>
    </Header>
    <Content>
        <FSubWindow>
            <Header><span>Informations</span></Header>
            <Content>
                <span><b>Type:</b> ZSensor-V5.1</span>
            </Content>
        </FSubWindow>
        <TransformComponent TransformVM="SensorVM"></TransformComponent>
    </Content>
</FWindow>

@inherits NotifiedComponent
@code {
    [Parameter]
    public SensorVM SensorVM { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    protected override INotifyPropertyChanged Notifier => SensorVM;
}
